* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2rem;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-content: center;
}

:root {
  --clr-primary-800: hsl(223, 87%, 63%);

  --clr-primary-300: hsl(223, 100%, 75%);
  --clr-primary-100: hsl(223, 100%, 88%);
  --clr-primary-10: hsla(223, 100%, 88%, 0.383);
  --clr-secondary: hsl(354, 100%, 66%);

  --clr-neutral-500: hsl(0, 0%, 59%);
  --clr-neutral-700: hsl(0, 0%, 80%);
  --clr-neutral-000: hsl(0, 0%, 100%);
  --clr-neutral-s-700: hsl(209, 33%, 12%);

  --mb-vs: 1rem;
  --mb-s: 2rem;
  --mb-m: 4rem;
  --mb-l: 8rem;
  --mb-xl: 12rem;
}

/* /////////////////////////////////////////////////////// */

.container {
  max-width: 60rem;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 4rem 10vw;
  width: 100%;
}

.logo {
  display: flex;
  justify-self: center;
  align-items: center;
}

.graphic {
  /* margin: 2rem; */
  width: 100%;
}

h1 {
  font-weight: 300;
  color: var(--clr-neutral-700);
}

h1 strong {
  color: var(--clr-neutral-s-700);
}

.title-desc {
  font-size: 1.6rem;
}

h1,
p {
  text-align: center;
}

p {
  font-size: 1.2rem;
}
/*////////// INPUT///////////////////////// */

.input__container {
  display: flex;
  gap: 1rem;
  width: 100%;
}

.input__input-box {
  flex-shrink: 1;
  width: 100%;
}

.input__input {
  width: 100%;
  height: 5rem;

  border: 0.1rem solid var(--clr-neutral-700);
  border-radius: 4rem;
  text-indent: 3rem;
}

.input__error {
  color: var(--clr-secondary);
  text-align: start;
  padding-left: 3rem;
}

.hidden {
  display: none;
}

.error {
  border: 0.1rem solid var(--clr-secondary);
}

.input__btn {
  flex-shrink: 2;

  height: 5rem;
  width: 100%;

  border: none;
  border-radius: 4rem;
  background-color: var(--clr-primary-800);
  box-shadow: 0 0.4rem 0.3rem 0.2rem var(--clr-primary-10);
  cursor: pointer;

  transition: all 0.3s;

  color: #fff;
  font-weight: 600;
}

.input__btn:hover {
  background-color: var(--clr-primary-300);
}

/*/ ///////// ICONS//////////////////// */

.icons__container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.icons__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-primary-800);
  font-size: 1.5rem;
  height: 3rem;
  width: 3rem;
  border: 0.1rem solid var(--clr-neutral-700);
  border-radius: 3rem;
  cursor: pointer;
  transition: all 0.3s;
}

.icons__icon:hover {
  color: var(--clr-neutral-000);
  background-color: var(--clr-primary-800);
  border: none;
}

/*/ ///////// MARGINS ///////////////////////// */

.margin__bvs {
  margin-bottom: var(--mb-vs);
}
.margin__bs {
  margin-bottom: var(--mb-s);
}
.margin__bm {
  margin-bottom: var(--mb-m);
}
.margin__bl {
  margin-bottom: var(--mb-l);
}
